.container {
    max-width: 310px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('../assets/weather.jfif');
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 90vh;
    }
h1{
    font-family: poppins , sans-serif;
    color: aliceblue;
    font-size: 40px;
}
input {
    padding: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    background-color: #ad479cc2;
    padding: 15px;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.icon img{
    width: 100px;
    margin-top: -30px;
}
.weather-details {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 20px;
    border-radius: 10px;
}



.temp {
    font-size: 60px;
    color: antiquewhite;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;

}

h2 {
    color: azure;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;

}

.descript {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
margin-top: -20px;
}
.foot{
    font-weight: bold;
    font-family: poppins , sans-serif;
    position: fixed;
    top: 620px  ;
}